<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}sochio medium {% endblock %} </title>
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name){
            var cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length +1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name){
            var cookieArr = document.cookie.split(';');
             
            for(var i=0; i<cookieArr.length; i++){
                var cookiePiar = cookieArr[i].split('=');

                if(name == cookiePiar[0].trim()){
                    return decodeURIComponent(cookiePiar[1]);
                }
            }
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if (cart == undefined){
            cart = {}
            console.log('cart created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('cart',cart)

    </script>
</head>
<body>
    <nav id="main_nav">
        <a class="logo" href="/">Thrifty</a>
        <a href="{% url 'store' %}">store</a>
            {% if user.is_authenticated %}
                <div class="abit">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input id="login_btn" type="submit" value="logout">
                    </form>
                </div>
            {% else %}
                <a href="{% url 'signup' %}" id="login_btn">signup</a>
            {% endif %}
            <div class="abitt">
                <a href="{% url 'cart' %}"><img id="cart_img" src="{% static 'store/images/cart.png' %}" alt=""></a>
                <p class="cart_count">{{cartItems}}</p>
            </div>
    </nav>
    <div class="container">
        {% block body %} {% endblock %}
    </div>
    <footer>
        <a class="footer"href="#">help</a>
        <a class="footer"href="#">contact us</a>
        <a class="footer"href="#">about us</a>
        <a class="footer"href="#">faq</a>
    </footer>
    <script src="{% static 'store/js/cart.js' %}"></script>
    
</body>
</html>